.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.topArtistsRender{
    display: inline-block;
}

.topGenresRender{
    display: inline-block;
}

img{
    width: 250px;
    height: 250px;
}